.main {
  display: flex;
  justify-content: space-around;
  padding: 70px;
  background-color: #f2e7e7;
}

.post-list {
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 30px;
}

.post-item {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
}

.post-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  color: red;
}

.img-container {
  text-align: center;
}

.post-date {
  font-size: 22px;
  color: #888;
}

.search-input {
  width: 250px;
  border-radius: 7px;
  padding: 5px;
  border: none;
  outline: none;
  transition: 1s;
}

.search-input:focus {
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
}
