<div class="main">
  <div
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="loadMorePosts()"
    class="post-list"
  >
    <mat-card *ngFor="let cat of filteredCats" class="post-item">
      <mat-card-header>
        <div class="post-title">{{ cat.topic }}</div>
      </mat-card-header>
      <mat-card-content>
        <div class="img-container">
          <img *ngIf="cat.url" [src]="cat.url" width="400" height="400" />
        </div>
        <div class="post-date">
          <span>{{ cat.createdAt }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <input
      class="search-input"
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search"
      (input)="onSearchInput()"
    />

    <p class="no-results" *ngIf="filteredCats.length === 0">No results found</p>
  </div>
</div>
